body:before {
    background-attachment: scroll;
    content: '';
    display: block;
    height: var(--background-height);
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: scale(1);
    width: 100vw;
    z-index: 0;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cpath%20d%3D%22M1.6-1.8l80.9%2C9.2%20M0%2C0l73.5%2C133.5%20M83.9-1.3l-1.4%2C8.8%20M82.5%2C7.5l-7.5-9%20M179.5%2C36.5l-97-29%20M157.5-2.5l22%2C39%20M190.5-1.5l-11%2C38%20M305.5%2C6.5l-8-9%20M305.5-3.5v10%20M212.5%2C102.5l-33-66%20M305.5%2C114.5V6.5%20M389.5-2.5l2%2C4%20M411.5%2C122.5l-20-121%20M483.5%2C115.5l-92-114%20M102.5%2C220.5l-29-87%20M179.5%2C36.5l126-30%20M212.5%2C102.5l93%2C12%20M305.5%2C6.5%20l-93%2C96%20M391.5%2C1.5l-86%2C5%20M305.5%2C114.5l86-113%20M411.5%2C122.5l-105-8%20M212.5%2C102.5l-139%2C31%20M179.5%2C36.5l-106%2C97%20M82.5%2C7.5l-9%2C126%20M-1.5%2C120.5l75%2C13%20M-1.5%2C230.5l75-97%20M-1.5%2C233.5l104-13%20M212.5%2C102.5l-110%2C118%20M213.5%2C241.5l-111-21%20M212.5%2C102.5l1%2C139%20M305.5%2C114.5l-92%2C127%20M318.5%2C235.5l-105%2C6%20M305.5%2C114.5l13%2C121%20M405.5%2C223.5l-100-109%20M411.5%2C122.5l-6%2C101%20M318.5%2C235.5l87-12%20M411.5%2C122.5l73-7%20M405.5%2C223.5l79-108%20M391.5%2C1.5l123.9-2%20M483.5%2C115.5l28-116%20M508.5%2C234.5l-103-11%20M484.5%2C115.5l24%2C119%20M513.5%2C120.5l-30-5%20M318.5%2C235.5l64%2C94%20M405.5%2C223.5l-23%2C106%20M508.5%2C234.5l-126%2C95%20M514.5%2C337.5l-132-8%20M512.5%2C416.5l-130-87%20M415.5%2C445.5l97-29%20M382.5%2C329.5l33%2C116%20M513.5%2C511.5l-98-66%20M390.5%2C513.5l25-68%20M292.5%2C414.5l123%2C31%20M392.5%2C513.5l-100-99%20M382.5%2C329.5l-90%2C85%20M316.5%2C306.5l-24%2C108%20M382.5%2C329.5l-66-23%20M318.5%2C235.5l-2%2C71%20M213.5%2C241.5l103%2C65%20M201.5%2C342.5l115-36%20M213.5%2C241.5l-12%2C101%20M215.5%2C432.5l-14-90%20M292.5%2C414.5l-77%2C18%20M201.5%2C342.5l91%2C72%20M215.5%2C432.5l92%2C87%20M292.5%2C414.5l14%2C105%20M215.5%2C432.5l-26%2C82%20M108.5%2C427.5l107%2C5%20M201.5%2C342.5l-93%2C85%20M159.5%2C513.5l-51-86%20M83.5%2C512.5l25-85%20M-1.5%2C416.5l110%2C11%20M76.5%2C512.5l-78-96%20M91.5%2C313.5l17%2C114%20M9.5%2C337.5l99%2C90%20M-1.5%2C416.5l11-79%20M-2.5%2C337.5h12%20M91.5%2C313.5l-82%2C24%20M91.5%2C313.5l11-93%20M91.5%2C313.5l122-72%20M-0.5%2C236.5l92%2C77%20M201.5%2C342.5l-110-29%20M9.5%2C337.5l-13.4-102%20M508.5%2C234.5l5-7%20M514.5%2C232.5l-6%2C2%20M513.5%2C239.5%20l-5-5%20M517.6%2C313.9l-9.1-79.4%20M-1.5%2C416.5l2%2C95.9%20M511.5%2C416.5l1%2C94%20M417.3%2C514.1l96.2-2.6%20M510.5%2C415.5l5.3-38.4%20M0.5%2C510.5%20l30.4%2C2.6%22%20vector-effect%3D%22non-scaling-stroke%22%20fill%3D%22none%22%20stroke%3D%22rgba(255,255,255,0.329)%22%20stroke-width%3D%221.01px%22%20%2F%3E%3C%2Fsvg%3E'), linear-gradient(0deg, #787878 0%, #0F0F0F 100%);
    background-size: 1373px, auto;
    background-position: center, 0% 0%;
    background-repeat: repeat, repeat;
  }

  :root {
    --background-height: 100vh;
    --site-language-alignment: left;
    --site-language-direction: ltr;
    --site-language-flex-alignment: flex-start;
    --site-language-indent-left: 1;
    --site-language-indent-right: 0;
    --viewport-height: 100vh;
  }

  #wrapper {
    -webkit-overflow-scrolling: touch;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: var(--viewport-height);
    overflow: hidden;
    position: relative;
    z-index: 2;
  }

  #text01 {
    color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3.25em;
    line-height: 1.25;
    font-weight: 700;
    text-shadow: 0rem -0rem 2.3125rem #FFFFFF;
  }

  #text02 {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    line-height: 1.75;
    font-weight: 300;
  }

  hr {
    border: 0;
    padding: 0;
    position: relative;
    width: 100%;
  }

  hr:before {
    content: '';
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }



  hr.style1:before {
    height: 4rem;
    border-left: solid 1px #FFFFFF;
    width: 1px;
  }

  .image .frame {
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
    width: 100%;
  }

  .image .frame img {
    border-radius: 0 !important;
    max-width: 100%;
    vertical-align: top;
    width: inherit;
  }

  .image.full:last-child .frame {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  #image01:not(:first-child) {
    margin-top: 2.25rem !important;
  }

  #image01:not(:last-child) {
    margin-bottom: 2.25rem !important;
  }

  #image01 .frame {
    width: 10.875rem;
    border-radius: 100%;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    transition: none;
  }

  .image.style1 .frame {
    width: 10.875rem;
    border-radius: 2.25rem;
    border-color: #A3A3A3;
    border-style: solid;
    border-width: 5px;
    box-shadow: 0rem 1.75rem 4.375rem 0rem #B0B0B0;
    transition: transform 0.5s ease, z-index 0.5s ease;
  }


  .image.style1 img {
    border-radius: inherit !important;
    padding: 0.375rem;
    -webkit-touch-callout: none;
    user-select: none;
  }

  .image.style1 .frame:hover {
    transform: scale(1.1125);
    z-index: 1;
  }

  .container>.wrapper>.inner {
    vertical-align: top;
    position: relative;
    max-width: 100%;
    border-radius: inherit;
    text-align: var(--alignment);
  }

  #container02 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-color: rgba(150, 224, 255, 0.639);
    border-style: solid;
    border-radius: 0rem;
  }

  #container02>.wrapper>.inner {
    --gutters: 6rem;
    --padding-horizontal: 3rem;
    --padding-vertical: 0rem;
    --spacing: 0.75rem;
    padding: var(--padding-vertical) var(--padding-horizontal);
  }

  #container01 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-radius: 1.75rem;
  }

  #container01>.wrapper>.inner {
    --gutters: 2rem;
    --padding-horizontal: 1rem;
    --padding-vertical: 1rem;
    --spacing: 1rem;
    padding: var(--padding-vertical) var(--padding-horizontal);
    border-radius: calc(1.75rem - 1px);
  }

  #container03 {
    display: flex;
    width: 100%;
    min-height: 21rem;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-radius: 1.5rem;
  }

  #container03>.wrapper>.inner {
    --gutters: 2rem;
    --padding-horizontal: 1rem;
    --padding-vertical: 1rem;
    --spacing: 1rem;
    padding: var(--padding-vertical) var(--padding-horizontal);
    border-radius: calc(1.5rem - 1px);
  }

  #container03>.wrapper {
    max-width: var(--width);
    width: 100%;
  }

  #container03.default>.wrapper>.inner>* {
    margin-bottom: var(--spacing);
    margin-top: var(--spacing);
  }

  #container03.default>.wrapper>.inner>*:first-child {
    margin-top: 0 !important;
  }

  #container03.default>.wrapper>.inner>*:last-child {
    margin-bottom: 0 !important;
  }

  #container03.columns>.wrapper>.inner {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
  }

  #container03.columns>.wrapper>.inner>* {
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 100%;
    text-align: var(--alignment);
    padding: 0 0 0 var(--gutters);
  }

  #container03.columns>.wrapper>.inner>*>* {
    margin-bottom: var(--spacing);
    margin-top: var(--spacing);
  }

  #container03.columns>.wrapper>.inner>*:first-child {
    margin-left: calc(var(--gutters) * -1);
  }

  #container03.columns>.wrapper>.inner>*:before {
    border-left: solid 1px #FFFFFF;
    content: '';
    display: block;
    margin-left: calc((var(--gutters) * -0.5) - 0.5px);
    position: absolute;
    width: 0;
    height: calc(100% - (var(--padding-vertical) * 2));
    top: var(--padding-vertical);
  }

  .buttons {
    cursor: default;
    display: flex;
    justify-content: var(--flex-alignment);
    letter-spacing: 0;
    padding: 0;
  }

  .buttons li a {
    align-items: center;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
  }

  .buttons.style1 {
    gap: 0.875rem;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .buttons.style1 li a {
    display: inline-flex;
    width: 24.625rem;
    height: 3.25rem;
    line-height: 3.25rem;
    padding: 0 1.625rem;
    vertical-align: middle;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 300;
    border-radius: 0.75rem;
    flex-direction: row-reverse;
    justify-content: flex-end;
    transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  }

  .buttons.style1 li a svg {
    display: block;
    fill: #FFFFFF;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    min-width: 16px;
    width: 1.5em;
    margin-left: 0.5em;
    margin-right: calc(-0.125em + 0rem);
    transition: fill 0.25s ease;
  }

  .buttons.style1 li a .label {
    direction: var(--site-language-direction);
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
    width: 100%;
  }

  .buttons.style1 .button {
    background-color: #454545;
    color: #FFFFFF;
  }

  .buttons.style1 .button svg {
    fill: #C9C9C9;
  }

  .buttons.style1 .button:hover {
    background-color: #141414 !important;
  }

  .buttons.style1 li a:hover {
    transform: scale(1.0775);
  }